<h2>Activitylogs</h2>
<p>
 LogNumber: <%= @activitylog.logNunmber %>
</p>

<%= link_to "Edit this log", edit_activitylog_path(@activitylog) %> |

<%= link_to "Back to activitylogs", activitylogs_path %>